.button{
    width: fit-content;
    color: var(--header-higlight);
    border-radius: 25px;
    font-size: var(--h3-font-size);
}

.primary {
    background-color: white;
    padding: 14px 40px;
    float: right;
}

.secondary {
    background-color: var(--background);
}

