.footer_container {
  display: flex;
  flex-direction: column;
  color: rgb(0,0,0);
  background-color: white;
  font-size: var(--body-font-size);
  text-align: center;
  padding: 40px;
  font-family: Arial;
  }

.footer_container h1{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: var(--h3-font-size);
  font-weight: 200;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  align-items: center;
  line-height: var(--line-height);
}

.footer_social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 40px;
}