.container {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.content_container {
    background-color: white;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 200px 200px;
}

.image_container {
    background-color: aquamarine;
    width: 50%;
    overflow: hidden;
}

.container h1 {
    font-size: 72px;
    font-weight: 200;
    color: var(--header-higlight)
}

.container h4 {
    font-size: 22px;
    font-weight: 200;
}

.container p {
    font-size: 18px;
    font-weight: 200;
    line-height: var(--line-height);
}