.container {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.content_container {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 3rem;
    padding: 200px 200px;
}

.image_container {
    background-color: white;
    width: 50%;
    overflow: hidden;
}

.image_container_border {
    background-color: white;
    width: 50%;
    overflow: hidden;
    padding: 80px 80px; 
}

.container h1 {
    text-align: left;
    font-size: var(--h1-font-size);
    font-weight: 200;
    color: var(--header-higlight)
}

.container h4 {
    font-size: var(--h3-font-size);
    font-weight: 200;
}

.container p {
    font-size: var(--body-font-size);
    font-weight: 200;
    line-height: var(--line-height);
}

.content_wrapper h2 {
    display: flex;
    font-size: var(--h2-font-size);
    text-align: center;
    justify-content: center;
}

.content_wrapper a {
    display: flex;
}