.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #98785b;
  color: white;
  text-align: center;
  gap: 2rem;
  font-size: var(--body-font-size);
  padding-top: 40px;
  padding-bottom: 20px;
  position: fixed;
}

.header h1{
  font-size: var(--h3-font-size);
  font-weight: 200;
}

.navbar {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: var(--body-font-size);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding: 14px 40px;
}

.button_container {
  position: absolute;
  right: 0;
  top: 35%;
  width: 500px;
  display: flex;
  justify-content: center;

}

@media screen and (max-width: 640px){
  .navbar {
    background-color: blue;
  }
}