.services_container {
    background-color: #D9BFA9;
    color: white;
    display: flex;
    flex-direction: column;
}

.services_container h1 {
    display: flex;
    color: black;
    justify-content: center;
    padding-bottom: 40px;
    font-size: var(--h2-font-size);
    font-weight: 200;
}

.services_container p {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: var(--line-height);
    font-size: var(--body-font-size);
}

.services_wrapper {
    background-color:white;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.services_cards_wrapper {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    padding: 100px 50px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

}