/* .header {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 100, 76);
  font-family: Helvetica;
  font-size: 22px;
} */

.header h1 {
  color: red;
}

.main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  background-color: hotpink;
}